body {
    background-color: #eee;
}

#container {
    background-color: #fff;
}

noscript {
    display: block;
    text-align: center;
    text-align: center;
}
noscript p {
    line-height: 150px;
    font-size: 24px;
    font-weight: 900;
}

.slide {
    display: none;/*by default not visible*/
    padding: 2%;
}
.slide h1 {
    font-size: 36px;
    padding-bottom: 6px;
    border-bottom: 1px solid #009aff;
    font-weight: 400;
    color: #009aff;
    box-shadow: 0px 4px 10px -7px #009aff;
}
.slide.fullscreen-image {
    padding: 0;
}
.slide.fullscreen-image img {
    width: 100%; /* bild skaliert auf die breite der folie*/
}

.visible {
    display: block!important;

    -webkit-animation: fade-in 0.7s; /* Safari 4+ */
    -moz-animation:    fade-in 0.7s; /* Fx 5+ */
    -o-animation:      fade-in 0.7s; /* Opera 12+ */
    animation:         fade-in 0.7s;
}

.box-shadow {
    box-shadow: 0px 0px 10px 3px #ccc;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes slide-in-from-left {
    0%   {
        transform: translateX(-100%);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

/* Standard syntax */
@keyframes slide-in-from-left {
    0%   {
        transform: translateX(-100%);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-in-from-right {
    0%   {
        transform: translateX(100%);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

/* Standard syntax */
@keyframes slide-in-from-right {
    0%   {
        transform: translateX(100%);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes fade-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}